.Weather{
    border:1px solid #dadde1;
    font-family: arial, sans-serif;
    color: rgb(135, 135, 135);
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
    max-width: 600px;
}
.Weather form{
    margin-bottom: 20px;
}
.Weather h1{ 
display :inline;
font-size: 24px;
font-weight :100;
height :auto;
line-height: 29px;
margin: 20px 0 0 0 ;

}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather li{
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    font-weight: 100;
}
.Weather .temperature{
    font-weight: bold;
    color:rgb(33,33,33);
    font-size:64px ;
    font-weight: 400;
    line-height: 64px;
}
.Weather img{
    height: 64px;
    margin-right: 10px;
    width: 64px;
    display:inline-block;
}
.Weather .unit{
    color: rgb(33,33,33);
    font-size: 16px;
    position: relative;
    top: -32px;

}